@media screen and (max-width: 922px){
    
}
@media screen and (max-width: 576px) {
    
}
@media screen and (max-width: 350px) {
    
}

/* responsive.css */
/* responsive.css */
@media (max-width: 768px) {
    #accordion li {
      margin-left: 0; /* Hapus margin kiri */
      margin-bottom: 20px; /* Tambahkan margin bawah */
      padding: 10px; /* Tambahkan padding agar konten lebih terbaca */
      background-color: #F9F5F0; /* Atur warna latar belakang */
      border-radius: 5px; /* Tambahkan border-radius agar sudut terlihat lebih lembut */
    }
  
    #accordion li label {
      justify-content: space-between; /* Agar ikon tanda panah ada di sisi kanan */
    }
  
    #accordion li label span {
      display: inline-block; /* Agar ikon tanda panah tidak terlalu dekat dengan teks */
      transform: rotate(90deg);
      font-size: 20px;
    }
  
    .content {
      padding: 10px; /* Tambahkan padding untuk meningkatkan ruang */
      max-height: 0; /* Sembunyikan konten awalnya */
      overflow: hidden; /* Sembunyikan overflow */
      transition: max-height 0.5s ease; /* Animasi perubahan ketinggian */
    }
  
    #accordion label + input[type="radio"]:checked + .content {
      max-height: 200px; /* Tampilkan konten ketika radio button checked */
    }
  }
  
@media (max-width: 768px) {
    .banner {
      padding-top: 20%;
      padding-bottom: 20%;
    }
  
    #accordion {
      width: 100%;
    }
  
    .slider {
      width: 80%;
      margin-left: 10%;
    }
  
    #next, #prev {
      left: 180px;
      right: auto;
    }
  
    .footer-content {
      padding: 0 10px;
    }
  }
  
  @media (max-width: 576px) {
    .banner {
      padding-top: 30%;
      padding-bottom: 30%;
    }
  
    .navbar-nav {
      flex-direction: column;
    }
  
    .navbar-toggler {
      margin-bottom: 10px;
    }
  
    .navbar-brand {
      margin-right: 0;
    }
  
    #accordion {
      width: 100%;
    }
  
    .slider {
      width: 100%;
      margin-left: 0;
    }
  
    #next, #prev {
      left: 150px;
      right: auto;
    }
  }
