@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }
/* Navbar */
.banner{
  background: url("/asset/jumbotron.jpg ");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10%;
  padding-bottom: 10%;
  color: aliceblue;
  animation: typing 3s steps(10) infinite;
}
.nav-color {
    background-color: #402218;
    transition: all ease-in-out 0.3s;
    color: white; /* Warna teks awal, bisa disesuaikan dengan kebutuhan Anda */
    z-index: 100;
}
.bg-transparent {
    transition: all ease-in-out 0.3s;
}

/* profile */
.lingkaran{
  display: inline-block;
  border-radius: 50%;
  width: 150px;
  margin: auto;
  height: 150px;
  color: #402218;
  background-color: wheat;
}

.lingkaran i{
  position: relative;
  top: 30px;
}
/* informasi seputar genre */
#accordion{
  margin:auto;
  width: 600px;
}
#accordion li{
  margin-left: 50px;
  list-style: none;
  width: 100%;
  margin-bottom: 10px;
  background: #F9F5F0;
  border-radius: 4px;
}
#accordion li label{
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  color: #402218;
}
#accordion li label span{
  transform: rotate(90deg);
  font-size: 22px;
  color: #402218;
}
#accordion label + input[type="radio"]{
  display: none;
}
#accordion .content{
  padding: 0 10px;
  line-height: 26px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}
#accordion label + input[type="radio"]:checked + .content{
  max-height: 400px;
}
/* Aspirasi */
a{
  color: black;
  text-decoration: none;

}
a:before{
  position: absolute;
  margin-left: 5px; 
  bottom: -10px; 
  height: 3px; 
  width: 0%; 
  background: #402218; 
  border-radius: 50px; 
  transform: scaleX(0);
  transition: all .5s;
}

a:hover::before {
  transform: scaleX(1);
  width: 100%;
}

/* card */
.slider{
  margin: 100px auto;
  position: relative;
  width: 100%;
  height: 370px;
  overflow: hidden;
}
.item{
  position: absolute;
  width: 250px;
  height: 350px;
  text-align: justify;
  background-color: wheat;
  border-radius: 10px;
  padding: 10px;
  transition: 0.5s;
  left: calc(50% - 110px);
  top: 0;
}
#next, #prev{
  position: absolute;
  top: 40%;
  color: #402218;
  background-color: transparent;
  border: none;
  font-size: xxx-large;
  font-family: monospace;
  font-weight: bold;
  left: 230px;
  right: auto;
}
#next{
  left: auto;
  right: 200px;
}
/* footer */
footer{
  background: #402218;
  height: auto;
  width: 100vw;
  font-family: "Open Sans";
  padding-top:40px;
  color: aliceblue;
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}
.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li{
  margin: 0 10px;
}
.socials a{
  text-decoration: none;
  color: aliceblue;
}
.socials a i{
  font-size: 1.1rem;
  transition: color .4s ease;
}
.socials a:hover i{
  color: wheat;
}
.footer-bottom{
  background: #402218;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}
.footer-buttom p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}


